<NavLink style="text-decoration: none; color: white" class="post_title_link" href=article>
    <article class="post_preview Container_style Backlighting_anim">
        <header class="post-meta">
            <span class="user_nickname">
                <NavLink href=profile class="user_from_post_link">Daria</NavLink>
            </span>
            <span class="post_time">сегодня в 12:13</span>
        </header>
        <h2 class="post_full_title">По четырём костям открыли новый вид динозавра — родственника тирекса</h2>
        <div class="post_body">
            <div class="post_text">
                <img src="/images/dino.jpg">
                <br><br>
                <p>Ученые открыли новый вид динозавров, обитавших около 80 млн лет назад
                    на территории современной Канады, сообщает британская газета The Guardian.</p>
            </div>
        </div>
        <footer class="post_footer">
            <!-- прописать тут лайки и комментарии -->
        </footer>
    </article>
</NavLink>

@code {

}
