@page "/about"

<div class="About">
    <p>
        Этот проект создан в процессе обучения Web-программированию в МИЭТе.<br>
        Если у Вас есть какие-либо вопросы по работе с сайтом, пожелания или предложения по дальнейшему развитию проекта либо желание сотрудничать, вы можете связаться с разработчиком одним из следующих способов: <br>
    </p>
    <ul>
        <li> ВКонтакте: <NavLink href="https://vk.com/id136744059" style="color: rgb(63, 249, 255)" target="_blank">https://vk.com/id136744059</NavLink></li>
        <li> E-mail: daria.karamysheva@mail.ru</li>
    </ul>
</div>

@code {

}
