@page "/article"
<article class="post_preview Container_style">
    <header class="post-meta">
        <span class="user_nickname">
            <NavLink href=./profile class="user_from_post_link">Daria</NavLink>
        </span>
        <span class="post_time">сегодня в 12:13</span>
    </header>
    <h2 class="post_full_title">По четырём костям открыли новый вид динозавра — родственника тирекса</h2>
    <div class="post_body">
        <div class="post_text">
            <img src="/images/dino.jpg">
            <br><br>
            <p>
                11 февраля. Ученые открыли новый вид динозавров, обитавших около 80 млн лет назад на территории современной Канады, сообщает британская газета The Guardian.<br><br>
                Новый вид динозавров ученые назвали Thanatotheristes Degrootorum, что в переводе с греческого означает "жнец смерти".<br><br>
                "Мы дали ему имя, которое показывает, что этот тиранозавр был единственным известным крупным хищником своего времени в Канаде, жнецом смерти. Сокращенно его имя звучит Танатос", - говорит доцент кафедры палеобиологии динозавров канадского Университета Калгари Дарла Зеленицки.<br><br>
                Исследователи считают, что новый вид тесно связан с представителями семейства Tyrannosaurus Rex (T-Rex), обитавшими на равнинах Северной Америки. Но, если о последних известно, что они жили около 66 млн лет назад, то Thanatotheristes Degrootorum еще древнее. Ученые считают, что они появились как минимум 79 млн лет назад.<br><br>
                Образец Танатоса обнаружен аспирантом канадского университета Джаредом Ворисом. Исследовав его, ученые выяснили, что у Танатоса была более длинная морда, чем у тиранозавров, которые жили на юге Соединенных Штатов.<br>
                До этого времени самым известным из всех видов динозавров считался T-Rex, о котором даже снят фильм Стивена Спилберга "Парк юрского периода".<br>
            </p>
        </div>
    </div>
    <footer class="post_footer">
        <!-- прописать тут лайки и комментарии -->
    </footer>
</article>

@code {

}
