@page "/"

<div>
    <h1 class="HeadersText">
        Добро пожаловать в русскоязычное информационно-развлекательное сообщество Клевер!
        <br> Здесь вы найдете множество статей на различные темы, а также сможете поделиться
        своими историями и мнением.
    </h1>
</div>

<HrefToSection SectionName="Путешествия" SectionRef="journey" SectionImage="/images/mountains.jpg"/>
<HrefToSection SectionName="Кулинария" SectionRef="cooking" SectionImage="/images/food.jpg"/>
<HrefToSection SectionName="Природа" SectionRef="nature" SectionImage="/images/forest.jpg"/>
<HrefToSection SectionName="Животные" SectionRef="animals" SectionImage="/images/bird.jpg"/>
<HrefToSection SectionName="IT" SectionRef="it" SectionImage="/images/it.jpg"/>

<GoBackUp Link="" />
