@page "/profile"

<div class="Profile Container_style" style="transition: none">
    <div class="Profile_img">
        <img src="/images/profile_img.jpg">
    </div>
    <div class="Profile_text">
        Имя: Daria <br><br>
        Дата рождения: 15.07.2020 <br><br>
        Живет в: Москва, Россия <br><br>
        Статус: Всем привет! Добро пожаловать на мою страницу! <br>
    </div>
</div>

<div>
    <h1 class="HeadersText new_font">Мои статьи:</h1>
</div>

<ArticlePreview />
<ArticlePreview />
<ArticlePreview />
<ArticlePreview />

@code {

}
