<NavLink href="@Link" style="text-decoration: none">
    <div class="alert alert-secondary my-alert" role="alert">
        <span class="oi oi-arrow-thick-top" aria-hidden="true"></span>
        <strong>Вернуться наверх</strong>
    </div>
</NavLink>

@code {
    [Parameter]
    public string Link { get; set; }
}
